.hud {
    position: fixed;
    top: 20px; left: 20px;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 10px;
    z-index: 100;
    border: #555 solid 2px;
}
.hud-score-label {
    font-family: "Press Start 2P", cursive;
    font-size: 0.6em;
    color: var(--accent);
    margin-bottom: 5px;
}
.hud-score {
    font-family: "VT323", monospace;
    font-size: 2rem
}